
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
}

.cont{
    background-image: url(./Assets/sp.jpg);
   background-size: cover;
   height: 100vh;
   background-position: center;
   margin: 0;

}



.navbar{
   
        display: flex; /* Allow horizontal layout of elements */
        align-items: center; /* Align content vertically */
        justify-content: space-between; /* Distribute elements evenly in remaining space */
        padding: 1rem 2rem; /* Add some padding for visual appeal */
        background-color: #0e0d0d; /* Set background color */
        color: #fff; /* Set text color */
        font-family: "Poppins", sans-serif;
        font-weight: 100;
        font-style: normal;
}

.navbar button {
    color: inherit; /* Inherit text color from navbar */
    text-decoration: none; /* Remove underline decoration */
    padding: 0.5rem 1rem; /* Add padding for each link */
     /* Make links bolder */
  }
.navbar button:hover {
    color: #ddd; /* Change text color on hover */
    background-color: #222; /* Add a subtle background on hover */
  }

  .card{
    background-color: none;
    font-size: 80px;

 margin-top: 40px; 
 font-family: "Poppins", sans-serif;
 font-weight: 200;
 font-style: normal;
  }



 